version: "3.8"

services:
  localstack:
    container_name: localstack-main
    image: localstack/localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1
    networks:
      - vector-network
  remote-vector-index-builder:
    container_name: remote-vector-index-builder
    image: remote-vector-index-builder:e2e-latest
    pull_policy: never
    environment:
      - S3_ENDPOINT_URL=http://localstack-main:4566
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_DEFAULT_REGION=us-east-1

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    networks:
      - vector-network
    depends_on:
      - localstack

networks:
  vector-network:
    driver: bridge
